/build
/build_doc
/output
/3rd-party
.idea
*.iml
.sln
*.swp
*.local
.DS_Store
.gradle
third_module
build.properties.local
*.tmp
*.pb.h
*.TMP
*.pb.cc
/tmp
CMakeFiles/
/include/utils/version.h
.vscode/
*.user
config/commit_version
